label {
    
    display: inline-block;
    width: 200px;
    text-align: right;
    font-style: italic;
}
form div + div {
    margin-top: 1em;
}

input, textarea {
   
    font: 1em sans-serif;
    font-weight: bold;
    background:#437799; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    
    border: 1px solid blue;
    
}

input:focus, textarea:focus {
   
    border-color: rgb(238, 240, 241);
    background:#f5f6f7; 
}

textarea {
    vertical-align: top;  
}
    resize: vertical {
}

#todoform input {
    background:#437799; 
    .motivo da inscrição{
        background-color:#1176a5; 
   }
}